# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore the virtual environment directory
venv/

# Ignore the database file
*.db

# Ignore xkcd json
xkcd.json

# Ignore token.json
token.json

# Ignore vscode stuff
.vscode/

# Ignore the .env file that contains environment variables
.env

# Inore the bumper.png which contains the most recently used /adultswim bumper
bumper.png

temp.txt