# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore the virtual environment directory
venv/

# Ignore the database file (if it's a file-based database)
*.db

# Ignore vscode stuff
.vscode/

# Ignore the .env file that contains environment variables
.env

# Inore the bumper.png which contains the most recently used /adultswim bumper
bumper.png